* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

html, body {
    min: 100%;
}

.logo {
    width: 10%;
}

.logo > img {
    width: 50%;
}


body {
    background-color: gray;
}

header {
    padding: 2% 10%;
    background-color: rgba(0, 0, 0);
    color: white;
    margin-bottom: 5%;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > ul > a {
    text-decoration: none;
    color: white;
    padding: 1% 5%;
    border: solid;
}

.btn {
    cursor: pointer;
    background-color: inherit;
    border-color: black;
    padding: 5% 10%;
}

.centerText {
    text-align: center;
    margin: 5%;
}
