.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.groups > a {
    width: 40%;
    color: inherit;
    text-decoration: none;
    margin-bottom: 5%;
}
.group {
    border: solid;
    padding: 5% 10%;
}
.group > h1 {
    margin-bottom: 5%;
}

.groupsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 10%;
}
.search {
    width: 50%;
}
.searchBox {
    width: 50%;
    padding: 1% 2%;
}
.search > form > input[type="submit"] {
    padding: 1% 2%;
}

form > input,textarea {
    border: solid;
    background-color: gray;
}
form > input::placeholder {
    color: black;
    border-color: initial;
}
