{% extends "base.html" %}

{% block headContent %}
    <title>TIIImeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_event.css') }}">
{% endblock %}

{% block navlinks %}
    <a href="{{ url_for('main.index') }}">
        <li>Home</li>
    </a>
    <a href="{{ url_for('events.view_events') }}">
        <li>Events</li>
    </a>
    <a href="{{ url_for('groups.view_groups') }}">
        <li>Groups</li>
    </a>
{% endblock %}

{% block content %}
    <div class="formBox">
        <h1>Edit an Event</h1>
        <form action="{{ url_for('events.edit_event', event_id=event['_id']) }}" method="post">
            <div class="field">
                <input placeholder="Name" name="name" id="name" type="text" value="{{ event["name"] }}">
            </div>
            <div class="field">
                <textarea name="description" id="description"
                          placeholder="Description">{{ event["description"] }}</textarea>
            </div>
            <div class="field">
                <label for="start">Starting Date and Time</label>
                <input name="start" id="start" type="datetime-local" value="{{ event["start"] }}">
            </div>
            <div class="field">
                <label for="start">Ending Date and Time</label>
                <input name="end" id="end" type="datetime-local" value="{{ event["end"] }}">
            </div>
            <div class="field">
                Add Groups
            </div>
            <div class="field">
                <div class="checkboxes">
                </div>
            </div>

            <div class="field">
                <input type="submit" value="Edit">
            </div>


        </form>
        <div class="field">
            <a href="{{ url_for('events.delete_event', event_id=event['_id']) }}">
                <button class="btn">Delete Event</button>
            </a>
        </div>
    </div>

    <script>
        const groups = [
            {% for group in groups %}
                ["{{ group["name"] }}", "{{ group["_id"] }}"],
            {% endfor %}
        ]

        const checked_groups = [
            {% for g_id in event["groups"] %}
                "{{ g_id }}",
            {% endfor %}

        ]
        const checkboxes = document.querySelector(".checkboxes");
        groups.forEach(([name, id]) => {
            const box = document.createElement("input")
            box.type = "checkbox"
            box.id = id
            box.name = id
            box.value = id
            box.checked = checked_groups.find((g_id) => g_id === id) !== undefined
            const label = document.createElement("label")
            label.for = id
            label.innerText = name;
            const field = document.createElement("div")
            field.className = "checkbox"
            field.appendChild(box)
            field.appendChild(label)
            checkboxes.appendChild(field)
        })
    </script>

{% endblock %}