{% extends "base.html" %}

{% block headContent %}
    <title>TIIImeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
{% endblock %}

{% block navlinks %}
    <a href="{{ url_for('main.index') }}">
        <li>Home</li>
    </a>
    <a href="{{ url_for('groups.view_groups') }}">
        <li>Groups</li>
    </a>
{% endblock %}

{% block content %}
    <div class="eventsHeader">
        <div class="search">
            <form action="{{ url_for('events.view_events') }}">
                <input class="searchBox" type="text" id="searchQuery" name="searchQuery" value="{{ search_query }}">
                <input type="submit" class="btn" value="Search">
            </form>


        </div>

        <a href="{{ url_for('events.create_event') }}">
            <button class="btn">Create event</button>
        </a>
    </div>

    <div class="events">
        {% if events|length > 0 %}
            {% for event in events %}
                <a href="{{ url_for('events.view_event', event_id=event["_id"]) }}">
                    <div class="event">
                        <h1 class="eventName">{{ event["name"] }}</h1>
                        <div class="desc">{{ event["description"] }}</div>
                        <div class="eventTime">{{ event["start"] }}</div>
                    </div>
                </a>
            {% endfor %}
        {% elif search_query %}
            <div class="centerText">No Events Found</div>
        {% else %}
            <div class="centerText">You have no events.</div>
        {% endif %}
    </div>
{% endblock %}