{% extends "base.html" %}

{% block headContent %}
    <title>TIIImeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='event.css') }}">
{% endblock %}

{% block navlinks %}
    <a href="{{ url_for('main.index') }}">
        <li>Home</li>
    </a>
    <a href="{{ url_for('events.view_events') }}">
        <li>Events</li>
    </a>
    <a href="{{ url_for('groups.view_groups') }}">
        <li>Groups</li>
    </a>
{% endblock %}

{% block content %}
    <div class="eventDetails">
        <div class="heading">
            <h1>
                {{ name }}
            </h1>
            {% if is_host %}
                <a href="{{ url_for('events.edit_event', event_id=_id) }}">
                    <button class="btn">edit</button>
                </a>
            {% endif %}

        </div>
        <div class="by">Host: {{ host }}</div>
        <div class="desc">{{ description }}</div>


        {% if found_groups|length > 0 %}
            <div class="groups">
                <h1>
                    Groups:
                </h1>
                {% for group in found_groups %}
                    <div class="group">{{ group["name"] }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="datetime">
            <div class="start">{{ start }}</div>
            <div class="end">{{ end }}</div>
        </div>

    </div>


{% endblock %}