{% extends "base.html" %}

{% block headContent %}
    <title>TIIImeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='group.css') }}">
{% endblock %}

{% block navlinks %}
    <a href="{{ url_for('main.index') }}">
        <li>Home</li>
    </a>
    <a href="{{ url_for('events.view_events') }}">
        <li>Events</li>
    </a>
    <a href="{{ url_for('groups.view_groups') }}">
        <li>Groups</li>
    </a>
{% endblock %}

{% block content %}
    <div class="groupDetails">
        <div class="heading">
            <h1>
                {{ name }}
            </h1>
            {% if is_host %}
                <a href="{{ url_for('groups.edit_group', group_id=_id) }}">
                    <button class="btn">edit</button>
                </a>
            {% else %}
                <a href="{{ url_for('groups.leave_group', group_id=_id) }}">
                    <button class="btn">leave</button>
                </a>
            {% endif %}
        </div>
        <div class="host">Host: {{ host }}</div>
        <div class="desc">{{ description }}</div>
        <div class="emails">
            <h2>Users:</h2>
            {% for email in emails %}
                <div class="email">
                    {{ email }}
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}