{% extends "base.html" %}

{% block headContent %}
    <title>TIIImeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block navlinks %}
    <a href="{{ url_for('events.view_events') }}">
        <li>Events</li>
    </a>
    <a href="{{ url_for('groups.view_groups') }}">
        <li>Groups</li>
    </a>
{% endblock %}

{% block content %}
    <h1>Upcoming Events</h1>
    <ul>
        <li>
            <div class="event">
                <div class="eventName">Event 1</div>
                <div class="eventBody">Event Description</div>
                <div class="eventTime">Today, 1800</div>
            </div>
        </li>
        <li>
            <div class="event">
                <div class="eventName">Event 2</div>
                <div class="eventBody">Event Description</div>
                <div class="eventTime">Today, 1900</div>
            </div>
        </li>
        <li>
            <div class="event">
                <div class="eventName">Event 3</div>
                <div class="eventBody">Event Description</div>
                <div class="eventTime">Today, 2000</div>
            </div>
        </li>
        <li>
            <div class="event">
                <div class="eventName">Event 4</div>
                <div class="eventBody">Event Description</div>
                <div class="eventTime">Today, 2100</div>
            </div>
        </li>
        <li>
            <div class="event">
                <div class="eventName">Event 5</div>
                <div class="eventBody">Event Description</div>
                <div class="eventTime">Today, 2200</div>
            </div>
        </li>
    </ul>
{% endblock %}